<cmc-main-nav></cmc-main-nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h2>{{vm.content.title}}</h2>

        <p>{{vm.content.subTitle}}</p>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>{{vm.content.contentTitle1}}</h3>

            <p>{{vm.content.contentDescription1}}</p>

            <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>{{vm.content.contentTitle2}}</h3>

            <p>{{vm.content.contentDescription2}}</p>

            <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>{{vm.content.contentTitle3}}</h3>

            <p>{{vm.content.contentDescription3}}</p>

            <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div>
<!-- /container -->